*~
scripts/__pycache__
README_generated
24x24
48x48
96x96
256x256
*application-exit.png
*clean-up.png
*dialog-cancel.png
*dialog-ok-apply.png
*document-revert.png
*help-about.png
*help-contents.png
*list-edit.png
*media-history-next.png
*media-next-random.png
*media-replay-last.png
*media-play-all.png
*venturous.png
*audio-file.png
*both-audio-file.png
*both-media-dir.png
*media-dir.png
*folder-add.png
